.main_prelaunch{
    text-align: center;
}
.webcam_prelaunch{
    margin-top: 40px;
}
.audio_video_selection_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.video_box{
    margin-right: 20px;
}
.submit_box{
    margin-top: 30px;
}